@import "tailwindcss";

@layer utilities {
  .centerhv {
    @apply flex items-center justify-center min-h-screen;
  }

  .anime-flow {
    animation: squarePath 25s ease infinite;
    background-size: 400% 400%;
  }
}

@keyframes leftRightPath {
  0%,
  100% {
    background-position: 0% 50%;
  } /*Left center */
  50% {
    background-position: 100% 50%;
  } /*Right center */
}

@keyframes topBottomPath {
  0%,
  100% {
    background-position: 50% 0%;
  } /*start at top left */
  50% {
    background-position: 50% 100%;
  } /* move to bottom right */
}
@keyframes topLeftBottgomRightPath {
  0%,
  100% {
    background-position: 0% 0%;
  } /*start at top left */
  50% {
    background-position: 100% 100%;
  } /* move to bottom right */
}
@keyframes gradientTrianglePath {
  0%,
  100% {
    background-position: 0% 0%;
  } /*start at top left */
  33% {
    background-position: 100% 100%;
  } /* move to bottom right */
  66% {
    background-position: 0% 100%;
  }
}
@keyframes squarePath {
  0%,
  100% {
    background-position: 0% 0%;
  } /*start at top left */
  25% {
    background-position: 100% 0%;
  } /* move to bottom right */
  50% {
    background-position: 0% 100%;
  }
}
